/* Estilo personalizado para o título

// widgets/custom-styles.css
*/

.title-highlight {
  background-color: #007bff; /* Cor de fundo azul */
  color: white; /* Cor do texto branca */
  padding: 10px; /* Espaçamento interno */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 36px; /* Tamanho da fonte */
  text-align: center; /* Centralizar o texto */
  margin: 0; /* Remover margens */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra do texto */
  width: 100%; /* Ocupa 100% da largura disponível */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/* Estilo para as abas */
.nav-tabs .nav-link {
color: #007bff; /* Cor padrão das abas */
border: 1px solid  #007bff75;; /* Borda transparente para evitar deslocamento */
border-radius: 5px 5px 0 0; /* Bordas arredondadas no topo */
margin-right: 1px; /* Espaçamento entre as abas */
width: 130px;
}

/* Aba ativa */
.nav-tabs .nav-link.active {
background-color: #007bff; /* Verde para aba ativa */
color: white;
border: 1px solid #007bff; /* Borda da aba ativa */
border-radius: 5px 5px 0 0; /* Bordas arredondadas no topo */
}

/* Cor de fundo da aba ativa */
.tab-content > .active {
border: 1px solid #e5e5e5;
padding: 20px;
background-color: #f4f5f7; /* Cor de fundo leve para o conteúdo */
}
.nav-tabs {
  border-bottom: 1px solid #007bff;
}
/* Estilo das tabelas */
.table {
margin-top: 20px;
border-radius: 5px; /* Bordas arredondadas para a tabela */
overflow: hidden; /* Para bordas arredondadas ficarem visíveis */
}

.table thead {
background-color: #007bff; /* Cor de fundo para o cabeçalho da tabela */
color: white; /* Cor do texto no cabeçalho da tabela */
}

.table th, .table td {
vertical-align: middle; /* Alinhar o texto verticalmente ao meio */
}

/* Estilo das seções */
.section-title {
background-color: #49698b; /* Verde para os títulos das seções */
color: white;
padding: 3px;
border-radius: 5px;
/*margin-bottom: 20px; /* Espaçamento abaixo do título da seção */
}

/* Ajustes específicos para container-fluid.mt-5 */
.container-fluid.mt-5 {
padding: 0; /* Remove o padding */
margin-top: 0; /* Remove a margem superior */
}

/* Estilo para centralizar o conteúdo da coluna */
.centered-content {
display: flex;
justify-content: center;
align-items: center;
}

.btn-primary {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.btn {
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
width: 200px;
height: 50px;
}

/* Destaque para o nome do paciente */
.paciente-destaque {
font-size: 24px;
font-weight: bold;
color: #ff306d; /* Cor principal definida anteriormente */
background-color: #f0f0f0;
padding: 10px;
border-radius: 5px;
text-align: center;
}

/* Ajustes no modal usando Bootstrap */
.modal-header {
background-color: #007bff; /* Cor de fundo azul para o cabeçalho do modal */
color: white;
}

.modal-title {
font-size: 24px;
font-weight: bold;
}

.modal-footer .btn-primary {
background-color: #007bff; /* Cor primária personalizada para o botão salvar */
border-color: #007bff;
}

.modal-footer .btn-secondary {
background-color: #6c757d;
border-color: #6c757d;
}
/* Estilo para o ID do Paciente */
.paciente-info {
font-size: 18px;
margin-bottom: 10px;
}

.paciente-id {
font-weight: bold;
color: #ff306d; /* Cor principal definida para destaque */
background-color: #f9f9f9; /* Fundo suave */
padding: 5px 20px;
border-radius: 5px;

}

/* Estilo para o título Adicionar Atendimento */
.atendimento-title {
font-size: 22px;
font-weight: bold;
color: #007bff; /* Cor azul para o título */
margin-top: 15px;
padding: 10px 0;
border-bottom: 3px solid #007bff; /* Linha inferior para destaque */
text-align: center; /* Centralização do título */
}


.card{
    width: 100%; /* Faz com que o card ocupe a largura total */
    margin-bottom: 12px; /* Ajusta o espaçamento inferior */
}

@media (min-width: 768px) {
    .card {
        max-width: 100%; /* Em telas maiores, o card ainda ocupará todo o espaço disponível */
    }
}


.section-title-button {
  background: none;
  border: none;

  font-size: 1.75rem; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  color: inherit; /* Herda a cor do texto ao redor */
  cursor: pointer;

  color: white;

  border-radius: 5px;
  /* Novo estilo para ocupar 100% da largura */
  width: 100%;
  display: block; /* Garante que o elemento seja tratado como um bloco e possa expandir em largura */
  text-align: center; /* Centraliza o texto dentro do botão */

}

.section-title-button:focus {
  outline: none; /* Remove o contorno ao focar no botão */
}
